* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    --webkit-font-smoothing: antialiased;
    background: rgb(8, 8, 8);
    color: #999;


}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}




.container {
    position: relative;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}

.flex {
    margin-top: 55px;
    margin-left: 230px;
}

.navbar {
    position: relative;
    top: 5px;
}








.navbar {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 10%,
            transparent);
    gap: 500px;
    width: 100%;
    background-color: transparent;
    transition: 0.3s all;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 60px;
    align-items: center;
    display: flex;
    position: fixed;
}

.navbar.active {
    z-index: 1000;
    background-color: rgb(16, 15, 15);
}

.navbar img {
    width: 31px;
    height: 27px;
}

#logo {
    cursor: pointer;
    margin-right: 50px;
    position: relative;
    top: 15px;
    width: 105px;
    height: 31px;
}

#profile {
    width: 38px;
    height: 37px;
    border-radius: 5px;
}



.navigation {
    /* display: flex; */
    position: fixed;
}

.navigation a {
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    justify-content: flex-start;
    align-self: flex-start;
    margin-right: 20px;
    font-size: 17px;
    opacity: 0.9;
    font-weight: 400;
    color: white;
    display: inline;
    position: relative;
    top: 10px;
}

.navigation a:hover {
    transition: 0.73s;
    color: rgba(214, 213, 213, 0.8);
}

.navigation a.active {
    color: white;
    font-weight: bold;
}

.navigation .home {
    opacity: 1;
    color: white;
    font-weight: 700;
}







.netflix {
    display: flex;
    gap: 5px;
}

.netflix img {
    width: 35px;
    height: 35px;
}


.netflix p {
    text-transform: capitalize;
}


#volume {
    align-self: center;
    display: flex;
    float: right;
    gap: 15px;
    position: relative;
    left: 63rem;
}

#volume img {
    padding: 6px;
    border-radius: 50%;
    border: 3px solid white;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.6;
    cursor: pointer;
}

#volume p {
    align-self: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 45px;
    border-left: 3.5px solid rgb(199, 199, 199);
    background-color: rgb(62, 62, 62, 0.5);
    color: white;
    font-size: 18px;
}



.ba.active {

    overflow: hidden;

}





.detail {
    display: none;
}